@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* Define all elements */
* {
    padding: 0px;
    margin: 0px;
}

/* leave space for header */
main  {
    position: relative;
    top: 90px;
}

/* Define list items and anchor tags and button fonts */
li, a, button {
    font-family: 'Raleway', sans-serif;
    color: #edf0f1;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}

p {
    font-family: 'Raleway';
    color: whitesmoke;
    font-weight: 100;
    font-size: 25px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 50px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-family: 'Roboto Mono';
    font-size: 20px;
}

tr {
    font-family: 'Montserrat';
    font-weight: 600;
}

span {
    font-family: 'Raleway';
    color: whitesmoke;
    font-weight: 400;
    font-size: 20px;
}

/* Header format and background */
header {
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #24252a;
    height: 10%;
    z-index: 1;
}

.logo {
    width: 150px;
    cursor: pointer;
    background-color: auto;
}

.menu-items {
    list-style: none;
}

.menu-items li {
    display: inline-block;
}

.menu-items li a{
    transition: all 0.3s ease 0s;
    padding: 0px 50px;
}

.menu-items li a:hover {
    color: aquamarine;
}

button {
    padding: 9px 25px;
    color: white;
    background-color: palevioletred;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease 0s;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24252a;   
}

.footer-content {
    margin-top: 4vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #24252a;
}

.copyright-container {
    display: flex;
    justify-content: center;
    background-color: #24252a;
}

#copyright {
    color: white;
    font-weight: 100;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    cursor: default;
    padding-top: 10%;
}