body {
    background: #becef1;
}

/* Form headline */
label {
    font-family: 'Roboto Mono';
    font-weight: 1000;
    font-size: 18px;
    margin-bottom: 6px;
    display: block;
    color: rgb(64, 0, 80);
}

.form-container {
    width: 80%;
    margin: 40px auto 70px;
}

.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px 60px;
    background-color: rgb(255, 226, 94);
}

.form-container p{
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.newsletter-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.options {
    display: flex;
    align-items: center;

}

.input-row .input-column {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

tr td:first-child {
    padding-right: 20px;
}

