  /* 
  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Dang Kim Quang Minh
  ID: s3938024
  Acknowledgement: 
  - Image gallery hover effect: https://codepen.io/codyhouse/pen/KKdrmXj
  */

* {
    padding: 0px;
    margin: 0px;
}

  /* Breadcrumbs navigation list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  display: flex;
  align-items: center;
}
  
  /* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
  
  /* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
  
  /* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #003f75;
  text-decoration: none;
}
  
  /* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #404ba8;
  text-decoration: underline;
}


  /* Big container for elements */
.content-container {
  background-color: rgb(255, 255, 255);
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


  /* Display image for specific book */
.img-column  {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black;
  border-style: solid;
}


  /* Book cover display */
.img-column img {
  object-fit: contain;
  width: 500px;

}

  /* Book cover gallery */
.radio-btns {
  display: grid;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(3, 100px);
}

  /* Hover effect for images in gallery */
.radio-btns:hover .radio-btns__btn:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.75;
}

.radio-btns:hover .radio-btns__btn:not(:hover)::after {
  background-color: rgba(#000, 0.5);
}

@media (min-width: 30rem) {
  .radio-btns {
    grid-template-columns: repeat(3, 150px);
  }
}

.radio-btns__btn {
  position: relative;
  cursor: pointer;
  transition: .3s;
}

.radio-btns__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0);
  transition: .3s;
}

.radio-btns__btn img {
  display: block;
  width: 100%;
  max-width: 100%;
}

  /* Container for elements next to displayed book 
  like Book name, Price and Add to cart button */
.content-column {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: center;
}

.content-column h2{
  font-size: 40px;
}

.content-column h4{
  font-size: 40px;
}

.content-column button{
  padding: 20px;
  margin-top: 10px;
}

  /* Product description container */
.product-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(203, 231, 255);
  padding: 4%;
}

  /* Book name */
.product-description  h2{
  padding: 3%;
  margin-bottom: 2%;
}

  /* Book description */
.description-content {
  padding: 3%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #646464;
  border-radius: 10px;
}