@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    background-color: #24252a;
}

li, a, button {
    font-family: Prata;
    color: #edf0f1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.menu-items {
    list-style: none;
}

.menu-items li {
    transition: all 0.3s ease 0s;
}

.menu-items li a:hover {
    color: aquamarine;
}
