@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    background-color: #24252a;
}

li, a, button {
    font-family: 'Raleway', sans-serif;
    color: #edf0f1;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-image: url(imgs/325314458_885950669110939_509726441322598373_n.jpg);
}

.logo {
    width: 150px;
    cursor: pointer;
    background-color: white;
}

.menu-items {
    list-style: none;
}

.menu-items li {
    display: inline-block;
}

.menu-items li a{
    transition: all 0.3s ease 0s;
    padding: 0px 20px;
}

.menu-items li a:hover {
    color: aquamarine;
}

button {
    padding: 9px 25px;
    color: white;
    background-color: palevioletred;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease 0s;
}

.display-container {
    padding: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content-island {
    display: flex;
    background-color: white;
}

.image-banner {
    padding: 10%;
    background-color: grey;
}

.categories li {
    list-style: none;
    text-decoration: none;
}
